@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(
    to right top,
    #051937,
    #133a62,
    #1b5f8f,
    #1c88bd,
    #12b3eb
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
